{% extends "base.jinja2" %}

{% block title %}LoginWeen Home{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock %}

{% block body %}
<p>LoginWeen is a an app where you login/register with a halloween pumpkin carving as a password.</p>
{% endblock body %}