{% extends "base.jinja2" %}

{% block title %}RegiWeen{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/register">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock %}

{% block body %}
{% endblock body %}